
<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Todos los medios de pago en un solo lugar</h2>
                    <p>Cuotas sin interés con tarjeta o efectivo en distintos puntos de pago.
                        Comprar en CDC CLOTHING, es cada vez mas facil. </p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $3.000 a todo el pais</h2>
                    <p>Registrate y enterate de todas las novedades y beneficios que tenemos para vos</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Tus compras protegidas y tu guardarropa al dia</h2>
                    <p>Compras seguras y con devolucion dentro de los 30 dias. Comprar online nunca fue tan facil.</p>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->