<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include("./partials/head.ejs")%>
<body>


	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/nuevo-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title title">Clásicos de todos los tiempos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/bazer.jpeg" alt="blazer negro">
						</figure>
						<article class="product-box_data">
							<h2>Blazer negro</h2>
							<p>Blazer color negro de algodon 100%</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					 <a href="/product"> 
						<figure class="product-box_image1">
							<img src="/images/products/campera de cuero.jpeg" alt="campera de cuero">
						</figure>
						<article class="product-box_data">
							<h2>campera de cuero</h2>
							<p> campera 100% de cuero ecológico </p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/campera de jean.jpeg" alt="campera de jean">
						</figure>
						<article class="product-box_data">
							<h2>campera de jean</h2>
							<p>chaqueta de denim, algodón 100% </p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/remeras .jpeg" alt="remera">
						</figure>
						<article class="product-box_data">
							<h2>remera clasica</h2>
							<p>remera de algodón blanca clasica </p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title title">Nuevos Lanzamientos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/remera3.jpeg" alt="remera">
						</figure>
						<article class="product-box_data">
							<h2>remera gris con hombreras</h2>
							<p>remera de ultima moda, con hombreras de algodon</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/jean.jpeg" alt="jean">
						</figure>
						<article class="product-box_data">
							<h2>jean negro</h2>
							<p>jean de todos los tiempos, tiro alto, modelo fit</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/vestido.jpeg" alt="vestido">
						</figure>
						<article class="product-box_data">
							<h2>vestido negro</h2>
							<p>vestido largo negro con encaje al cuerpo </p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/vestido2.jpeg" alt="vestido 2">
						</figure>
						<article class="product-box_data">
							<h2>vestido rosado</h2>
							<p>vestido de ceda, largo, suelto</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	
	<!-- /footer -->
</body>	
</html>