<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body background="/images/fondoregister1.jpeg" class="fondo">
	
	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		
		<div class="row">
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				
				<div class="login">
					<div class="login-triangle"></div>
					
					<h2 class="login-header">INICIAR SESION</h2>
				
				
					<%  if(locals.errors){  %> 
						<p class= “alert”> <%= errors.message %> </p> 
					  <% } %>
					
					<form class="login-container" action="/login" method="POST">
					  <p><input type="text" placeholder="Email" name="email" required></p>
					  <p><input type="password" placeholder="Contraseña" name="contraseña" required></p>
					  <p><input type="checkbox" name="Recuerdame"> Recuerdame </p>
					  <p><input type="submit"  value="ACEPTAR"></p>
					</form>
				  </div>
				</div>
			</h2>
		</div>
	</div>

	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->
</body>

</html>