<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include("./partials/head.ejs")%>

<body background="/images/fondoregister3.jpeg" class="fondo">
	
	<!-- Header -->
	<%-include("./partials/headerLogueado.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<div class="login">
					
					<h2 class="login-header">EDITAR MI PERFIL</h2>
				  
					<form class="login-container">
					  <p><input type="email" placeholder="Nuevo usuario"></p>
					  <p><input type="password" placeholder="Contraseña"></p>
					  <p><a href="/profile"><input type="submit" value="CONFIRMAR CAMBIO"></a></p>
					</form>
				  </div>
				</div>
			</h2>
		</div>
	</div>

	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->
</body>

</html>