<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include("./partials/head.ejs")%>

<body>
	
	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form method="get" action="">

					<input type="text" name="texto1" value="Nombre" /> <br />
					<input type="text" name="texto1" value="Apellido" /> <br />
					<input type="text" name="texto1" value="Crea un usuario" /> <br />
					<input type="text" name="texto1" value="Email" /> <br />
					<input type="text" name="texto1" value="Contraseña" /> <br />
					
					<button type="submit">

						<b><a href="/profile">
							<i>Registrarse </i>
						</a></b> <br/>
				   </button>
					
				</form>
			</h2>


	<!-- footer -->
	<%-include("./partials/footer.ejs")%>

	<!-- /footer -->
</body>

</html>