<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include("./partials/head.ejs")%>

<body background="/images/fondologin.jpeg" class="fondo">
	
	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 

					<div class="login">
						<div class="login-triangle"></div>
						
						<h2 class="login-header">REGISTRATE</h2>
					  
						<form class="login-container" action="/profile">
							<p><input type="text" placeholder="Nombre" required></p>
							<p><input type="text" placeholder="Apellido" required></p>
							<p><input type="email" placeholder="Mail" required></p>
						  <p><input type="text" placeholder="Crea un usuario" required></p>
						  <p><input type="password" placeholder="Crea una contraseña" required></p>
						  <p><input type="submit" value="ACEPTAR"></p>
						</form>
					  </div>
					</div>
				
			</h2>
		</div>
	</div>

	<!-- footer -->
	<%-include("./partials/footer.ejs")%>

	<!-- /footer -->
</body>

</html>