body{
  font-family: 'Mulish', sans-serif;
}

.title{
  font-family: 'Raleway', sans-serif;
}

.product-box_data h2{
  font-family: 'Abel', sans-serif;
}


.main-header{
  background-color: black;
}

.main-navbar a{
  color: white
}

.main-header_credit-link{
  color: white
}

.footer-data i{
  color: grey;

}
